*,
*:after,
*:before {
  box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
  font-family: 'Biryani', sans-serif;
  background-color: #F5F5F5;
}

h1 {
  padding-left: 10px;
}

h2 {
  display: inline-block;
  height: 43px;
  padding-left: 10px;
}

h3 {
  background-image: linear-gradient(#8ED1DC, #E3F4F6);
  display: inline-block;
  padding: 25px;
  width: 490px;
}

section {
  border-radius: 5px;
  display: inline-block;
  margin: 5px;
  width: 500px;
}

button {
  background-color: #1CA3BA;
  color: #ffffff;
  border-radius: 15px;
  padding: 10px;
  margin: 2px;
  width: 150px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

table {
  background-color: white;
  border-radius: 5px;
  border-spacing: 0px;
  margin-bottom: 10px;
  padding: 10px;
  width: 490px;
}

th, td {
  text-align: left;
  border-bottom: 1px solid #CCCCCC;
}

form {
  display: inline-block;
  margin: 20px 40px;
}

label, select, input {
  display: inline-block;
  width: 400px;
  margin: 5px;
}

.dashboard {
  margin-left: 110px;
}

.logo {
  width: 80%;
  margin-top: 5px;
  margin-bottom: 200px;
}

.menu1, .menu2, .menu3 {
  width: 50%;
  margin: 8px;
  outline: none;
}

.highlight-menu {
    border-left: 3px solid #1CA3BA;
}

.navigation {
 background-color: white;
 box-shadow: 1px 1px rgba(0,0,0,0.05);
 display: inline-block;
 position: absolute;
 height: 100%;
 width: 75px;
}

.welcome {
  border-radius: 5px;
  display: block;
  position: relative;
}

.close {
  position: absolute;
  top: 40px;
  right: 30px;
  width: 10px;
}

.info {
  background-color: white;
  box-shadow: 1px 1px rgba(0,0,0,0.05);
  display: inline-block;
  width: 120px;
  padding: 10px;
  margin: 10px;
}

.infotitle {
  font-size: 10px;
}

.accounts, .account-item {
  border: none;
  width: 80px;
}

.accountimage {
  width: 25px;
  margin: 10px;
}

.manage {
  display: inline-block;
  position: relative;
  left: 330px;
  bottom: 45px;
}

.recent-transactions {
  background-color: white;
  box-shadow: 1px 1px rgba(0,0,0,0.05);
  display: inline-block;
  position: absolute;
  left: 700px;
  top: 110px;
  width: 500px;
  padding: 10px;
}

.new {
  position: relative;
  left: 80px;
}

.payee {
  padding-right: 60px;
}

.transactions-button {
  position: relative;
  left: 25px;
  width: 100px;
}

.white {
  background-color: #ffffff;
  color: #1CA3BA;
  border: 1px solid #1CA3BA;
}

.transactions {
  margin-left: 110px;
  width: 500px;
}

.transactions-page {
  display: inline-block;
  vertical-align: top;
  width: 500px;
}

.new-transaction {
  background-color: #ffffff;
  display: inline-block;
  position: absolute;
  left: 700px;
  top: 50px;
  vertical-align: top;
  width: 500px;
}

.new-transaction-head {
  margin-left: 140px;
}
