h1, h2, h3, img, ul, table, td, button, section, .navigation, .accounts, .transactions {
  border: solid;
}

.logo {
  width: 80%;
  margin-top: 5px;
  margin-bottom: 150px;
}

.menu {
  width: 50%;
  margin-bottom: 10px;
  margin-left: 10px;
}

.navigation {
 display: inline-block;
 position: absolute;
 height: 100%;
 width: 75px;
}

.accountimage {
  width: 25px;
  margin: auto;
}

.accountname {
  width: 120px;
  margin: auto;
}

.manage {
  position: relative;
  left: 90px;
}

.transactions {
  display: inline-block;
  position: absolute;
  left: 500px;
  top: 100px;
  width: 400px;
}

.new {
  position: relative;
  left: 75px;
}
.payee {
  padding-right: 55px;
}

body {
  font-family: 'Biryani', sans-serif;
  font-color: #363636;
  background: #F5F5F5;
}

main {
  margin-left: 120px;
}

h1, h2 {
  display: inline-block;
}

h3 {
  padding: 25px;
}

button {
  background-color: #1CA3BA;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section {
  display: inline-block;
  margin: 10px;
  padding: 5px;
}

th {
  text-align: left;
}

td {
  padding-right: 15px;
}
